*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    color: inherit;
}

:root {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

header {
    font-size: 2rem;
}

.container {
    display: flex;
}

.flex-column {
    flex-flow: column nowrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-space-around {
    justify-content: space-around;
}

.selections {
    height: 15rem;
    font-size: 3rem;
    flex: 1;
    gap: 2rem;
    color: whitesmoke;
}

.select-btn {
    padding: 0.1em 0.5em;
    border-radius: 2em;
    color: black;
}

.computer-select-btn {
    color: gray;
}

.player-select-btn {
    background-color: rgb(233, 250, 79);
}

.player-select-btn:hover {
    cursor: pointer;
}

#main {
    min-height: 100vh;
    background-color: rgb(206, 203, 158);
}

#header {
    height: 7ch;
}

#content {
    flex: 1;
    background: rgb(78, 84, 104) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#game-log {
    height: 10rem;
    font-size: 1.2rem;
    border: rgb(53, 53, 66) solid 0.7rem;
    background-color: rgb(51, 54, 66);
    color: whitesmoke;
    padding: 0.5rem 1rem;
    margin: 2rem 1rem;
}

#footer {
    height: 7ch;
    font-size: 1.2rem;
}